.catalog {
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
}

.catalog__head {
  padding-bottom: 20px;
}

.catalog__title-head {
  color: #111111;
  margin: 0;
  padding: 27px 0 20px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;

  @include tablet {
    padding: 35px 0;
    font-size: 60px;
    text-align: left;
  }

  @include desktop {
    padding-top: 50px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 24px;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @include tablet {
    margin: 110px 30px 30px;
    padding: 40px 38px;
    width: 324px;
    border-top: none;
    background-color: #f2f2f2;

    &--more {
      background-color: #fff;
      border: 1px solid #ededed;
    }
  }

  @include desktop {
    margin-left: 40px;
    margin-right: 40px;
    padding: 41px 38px;
  }
}

.catalog__wrap {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-width: 300px;
  margin: 0 auto;

  @include tablet {
    flex-direction: column;
  }
}

.catalog__link-img {
  display: flex;
  flex: 1 0 auto;

  @include tablet {
    height: 118px;
    width: 100%;
    padding-bottom: 33px;
    align-items: flex-end;
  }
}

.catalog__img {
  display: flex;
  justify-content: center;
  flex: 4 0 50%;
  height: auto;

  &:hover {
    transform: translateY(4px) scale(1.05);
    transition: transform 0.5s ease-in-out;
  }

  &:active {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
  }

  @include tablet {
    &:hover {
      transform: translateY(10px) scale(1.1);
      transition: transform 0.5s ease-in-out;
    }

    &:active {
      transform: translateY(10px) scale(0.9);
      transition: transform 0.2s ease-in-out;
    }
  }

  & > picture {
    margin-left: -40px;
    margin-right: -40px;
  }

  & > picture img {
    @include tablet {
      width: 100%;
      height: auto;
    }
  }
}

.catalog__content {
  flex: 0 0 37%;
  min-width: 140px;
  max-width: 165px;
  z-index: 2;

  @include tablet {
    align-self: stretch;
    padding-top: 2px;
    background-color: #f2f2f2;

    flex: 1 0 auto;
    max-width: unset;
  }
}

.catalog__link-title {
  color: #222222;

  &:hover .product__title {
    color: #68b738;
  }
}

.catalog__title {
  width: 100%;
  max-width: 102px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;

  @include tablet {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  @include desktop {
    width: 80%;
  }
}

.catalog__title--more {
  min-width: 200px;
}

.catalog__info {
  width: 100%;
  font-family: "Arial", sans-serif;
  color: #444444;

  & td {
    padding: 0;
    font-size: 12px;
    line-height: 17px;
  }

  & td:last-child {
    text-align: right;
  }

  @include tablet {
    margin-top: 10px;
    margin-bottom: 33px;

    & tr {
      border-bottom: 1px solid #cdcdcd;
    }

    & td {
      padding: 8px 0;
      font-size: 16px;
      line-height: 15px;
    }
  }
}

.catalog__btn {
  margin: 0 auto;
  min-width: 280px;
  max-width: 480px;
  flex: 1 0 100%;
  z-index: 2;
  max-height: 40px;

  @include tablet {
    min-width: 248px;
    flex: auto;
  }

  @include desktop {
    min-width: 169px;
  }
}

.catalog__link-icon {
  width: 30px;
  height: 30px;
  margin: 25px 0;
  position: relative;

  &:hover .catalog__icon {
    opacity: 1;
    transition: all 0.35s ease-in;
  }

  &:active .catalog__icon {
    opacity: 0.6;
    transition: all 0.1s ease-in;
  }

  &:hover .catalog__icon:before,
  &:hover .catalog__icon:after {
    background-color: #68b738;
    transition: all 0.35s ease-in;
  }

  &:active .catalog__icon:before,
  &:active .catalog__icon:after {
    background-color: #68b738;
    transition: all 0.35s ease-in;
  }

  @include tablet {
    margin: 15px 0 17px;
    width: 60px;
    height: 60px;
  }
}

.catalog__link-title--more {
  min-width: 200px;
  margin: 0;
  padding-bottom: 6px;

  &:hover .catalog__link-title--more {
    text-shadow: 2px -2px 17px #68b738;
    transition: text-shadow 0.3s ease-in;
  }

  &:active .catalog__title--more {
    color: #111111;
    text-shadow: none;
    transition: color 0.1s ease-in;
  }

  @include tablet {
    margin: 30px auto 20px;
    width: 60%;
  }

  @include desktop {
    width: 100%;
  }
}

.catalog__icon {
  opacity: 0.2;

  &:before,
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #222222;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  @include tablet {
    &:before,
    &:after {
      height: 4px;
      background-color: #818181;
    }
  }
}

.catalog__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: #111111;

  @include tablet {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }
}





