.fitness-program {

  &__content {
    background-color: #f2f2f2;
    max-height: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
  }

  &__illustration{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    top: 20%;
    transform: translateX(36px);

  }

  &__illustration-cat{
    @include png-sprite($icon-cat-mobile);
    transform: translate(9px, -1px);
  }

  &__illustration-tiger{
    @include png-sprite($icon-tiger-mobile);
    transform: translate(-12px, 13px);
  }

  &__content h2 {
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    padding-left: 102px;


    color: #111111;
    font-weight: 400;

  }

  /*&__content--losing h2 {
    &:before {
      position: absolute;
      content: "";
      background-color: green;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      top: -43%;

      transform: translateX(-225%);
    }

    &:after {
      content: "";
      position: absolute;
      @include png-sprite($icon-cat-mobile);
      top: -47%;
      transform: translateX(-315%);
    }
  }

  &__content--accumulation h2 {
    &:before {
      position: absolute;
      content: "";
      background-color: green;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      top: -43%;

      transform: translateX(-225%);
    }

    &:after {
      content: "";
      position: absolute;
      @include png-sprite($icon-tiger-mobile);
      top: 0;
      transform: translateX(-173%);
    }
  }*/


  &__content-text {
    min-width: 260px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;
  }

  &__content p {
    font-size: 14px;
    color: #444444;
    font-family: "Arial", sans-serif;
    line-height: 20px;
  }

  &__content a {
    position: relative;
    font-size: 16px;
    color: #111111;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;

    /*&:after {
      position: absolute;
      content: "";
      @include png-sprite($icon-arrow-mobile);
      top: 40%;
      transform: translateX(43%);

    }*/

  }
}

@media (min-width: $tablet-width) {
  .fitness-program {


    &__content {
      align-items: flex-start;
      padding-left: 30px;
      max-height: 370px;
      min-width: 570px;
    }

    &__content-text {
      width: 325px;
      border: none;
    }


    &__content--losing h2 {
      /*&:before {
        position: absolute;
        content: "";
        background-color: green;
        border-radius: 50%;
        height: 191px;
        width: 191px;
        top: 50%;

        transform: translateX(200%);
      }*/

     /* &:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-cat-tablet);
        top: 0;
        transform: translateX(279%);
      }*/
    }


    &__content--accumulation h2 {
      /*&:before {
        position: absolute;
        content: "";
        background-color: green;
        border-radius: 50%;
        height: 191px;
        width: 191px;
        top: 50%;

        transform: translateX(200%);
      }*/

      /*&:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-tiger-tablet);
        top: 160%;
        transform: translateX(137%);
      }*/
    }

  }

  @media (min-width: $desktop-width) {
    .fitness-program {
      display: flex;
      justify-content: space-around;

      &__content{
        min-width: 520px;
      }

      &__item{
        display: flex;
      }

      &__content--accumulation{
        margin-left: 50px;
      }

      &__content-wrap{
        width: 500px;
        height: 370px;
      }

      &__content-wrap h2{
        font-size: 41px;
        padding-left: 40px;
      }

      &__content p{
        line-height: 26px;
        font-size: 18px;
      }

      &__content--losing h2 {
        /*&:before {
          position: absolute;
          content: "";
          background-color: green;
          border-radius: 50%;
          height: 95px;
          width: 95px;
          top: -113%;

          transform: translateX(-231%);
        }*/

        /*&:after {
          content: "";
          position: absolute;
          @include png-sprite($icon-cat-desktop);
          top: -128%;
          transform: translateX(-310%);
        }*/
      }


      &__content--accumulation h2 {
          /*&:before {
            position: absolute;
            content: "";
            background-color: green;
            border-radius: 50%;
            height: 95px;
            width: 95px;
            top: -113%;

            transform: translateX(-231%);
          }*/

       /* &:after {
          content: "";
          position: absolute;
          @include png-sprite($icon-tiger-desktop);
          top: -42%;
          transform: translateX(-169%);
        }*/
      }

      &__content a{
        width: 140px;
        font-size: 24px;
      }

    }

  }

}

