.fitness-program {

  &__content {
    background-color: #f2f2f2;
    max-height: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
  }

  &__illustration {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    transform: translateX(36px);
  }

  &__illustration-cat {
    @include png-sprite($icon-cat-mobile);
    transform: translate(9px, -1px);
  }

  &__illustration-tiger {
    @include png-sprite($icon-tiger-mobile);
    transform: translate(-12px, 13px);
  }

  &__content h2 {
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111;
    width: calc(100% - 115px);
    margin-top: 10px;
    margin-bottom: 12px;
  }

  &__content-text {
    min-width: 260px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__content-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    height: 300px;
  }

  &__content p {
    font-size: 14px;
    color: #444444;
    font-family: "Arial", sans-serif;
    line-height: 20px;
  }

  &__content a {
    position: relative;
    font-size: 16px;
    color: #111111;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: "";
      @include png-sprite($icon-arrow-mobile);
      top: 40%;
      transform: translateX(43%);
    }
  }
}

@media (min-width: $mobile + 1) and (max-width: $tablet) {
  .fitness-program {
    &__content {
      padding: 77px 60px 62px 52px;
      margin-top: 0;
      margin-bottom: 31px;
    }


    &__content-wrap {
      position: relative;
      height: auto;
    }

    &__illustration-cat {
      @include png-sprite($icon-cat-tablet);
      transform: translate(30px, -6px);
    }

    &__illustration-tiger {
      @include png-sprite($icon-tiger-tablet);
      transform: translate(-45px, 46px);
    }

    &__illustration {
      position: absolute;
      top: 15px;
      right: 0;
      width: 202px;
      height: 202px;
      margin-left: auto;
    }

    &__content-text {
      width: 325px;
      border: none;
      padding: 0;
    }

    &__content a {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      &:after {
        transform: translateX(380%);
      }
    }

    &__content h2 {
      font-size: 37px;
    }
  }
}

@media (min-width: $tablet + 1) {
  .fitness-program {
    display: flex;
    justify-content: space-around;

    &__content {
      width: 47%;
      height: auto;
      padding-right: 52px;
      padding-top: 48px;
      padding-bottom: 62px;
      margin-top: 28px;
      margin-bottom: 0;
    }

    &__item {
      display: flex;
      justify-content: space-between;
    }

    &__content--accumulation {
      margin-left: 50px;
    }

    &__content-wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__illustration {
      position: relative;
      top: 0;
      width: 100px;
      height: 100px;
      margin-left: 0;
      margin-top: 0;
    }

    &__illustration-cat {
      @include png-sprite($icon-cat-desktop);
      transform: translate(21px, -1px);
    }

    &__illustration-tiger {
      @include png-sprite($icon-tiger-desktop);
      transform: translate(-21px, 28px);
    }


    &__content-wrap h2 {
      width: calc(100% - 162px);
      margin-bottom: 0;
    }

    &__content-text {
      width: 100%;
    }

    &__content-text p {
      width: 100%;
      padding-bottom: 32px;
      margin-top: 40px;
    }


    &__content a {
      width: 140px;
      font-size: 24px;

      &:after {
        transform: translateX(555%);
      }
    }
  }
}


