.form-section {
  border: none;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--cat-info {
    padding: 10px 0;

    @include tablet {
      padding: 30px 0;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &--choose-program {
    margin-left: 20px;
    padding: 9px 20px;
    outline: 3px solid #cdcdcd;

    @include tablet {
      margin: 25px -30px 77px 40px;
      padding: 12px 30px;
    }

    @include desktop {
      margin: 17px 0 27px 80px;
    }
  }
}

.form-section__title {
  position: relative;
  margin: 30px 0 33px;
  font-size: 24px;
  font-weight: normal;
  color: #111111;
  line-height: 2;

  @include tablet {
    font-size: 36px;
  }
}

.form-section__title {
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
    height: 4px;
    background-color: #68b738;
  }

  & span {
    background-color: #fff;
    margin-left: 30px;
    padding: 0 5px;
  }
}

.form-section__field {
  margin: 14px 0;

  @include tablet {
    margin: 16px 0;
    padding: 0 40px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    width: 570px;

    &--textarea {
      width: auto;
    }
  }
}

.form-section__item {
  max-width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  @include tablet {
    font-size: 20px;
  }
}

.form-section__text,
.form-section__input,
.form-section__input::placeholder {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 26px;

  @include tablet {
    line-height: 1;
  }
}

.form-section__input-textarea::placeholder {
  padding-top: 6px;
}

.form-section__text {
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;

  @include tablet {
    font-size: 20px;
  }
}

.form-section--cat-info {
  display: flex;
  flex-wrap: wrap;
}

.form-section__input {
  display: inline-block;
  padding: 13px;
  flex: 1;
  min-width: 177px;
  color: #444444;
  border: 2px solid #cdcdcd;
  outline: none;

  &:hover {
    border-color: #68b738;
  }

  &:active,
  &:focus {
    border-color: #cdcdcd;
    box-shadow: inset 0 0 0 1px #cdcdcd;
  }

  &:active:invalid,
  &:focus:invalid,
  &.invalid {
    border-color: red;
    box-shadow: inset 0 0 0 1px red;
  }

  @include tablet {
    line-height: 1.5;
    padding: 10px 20px;
  }

  &--textarea {
    resize: none;
    font-family: "Oswald", sans-serif;
  }
}

.form-section__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.form-section__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.form-section__input-wrap {
  position: relative;
  display: flex;
  flex-grow: 1;

  .form-section__input {
    padding-right: 15px;
  }
}

.form-section__icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;

  .form-section__input:active + &,
  .form-section__input:focus + & {
    fill: #68b738;
  }

  .form-section__input:active:invalid + &,
  .form-section__input:focus:invalid + &,
  .invalid + & {
    fill: red;
  }
}

.form-section__list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--checks {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 40px;
    }

    @include desktop {
      padding-left: 0;
      display: flex;
    }
  }
}

.form-section__list-item {
  margin: 12px 0;
}

.form-section__list--checks .form-section__list-item {
  @include tablet {
    width: 325px;
    margin: 16px 0;
  }

  @include desktop {
    width: 245px;
    margin: 16px 0;
  }
}

.form-section__text--radio,
.form-section__text--checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 0;

  input:disabled + &,
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:before {
    display: block;
    content: "";
    flex-shrink: 0;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    box-sizing: border-box;

    @include tablet {
      margin-right: 20px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover:before {
    border-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  input:focus + &:before {
    background-color: #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }
}

.form-section__text--radio:before {
  border-radius: 50%;
}

.form-section__radio {
  display: none;
}

.form-section__radio:checked + .form-section__text--radio:before {
  background-image: radial-gradient(#68b738 0, #68b738 6px, #ffffff 7px, #ffffff 100%);

  @include tablet {
    background-image: radial-gradient(#68b738 0, #68b738 9px, #ffffff 10px, #ffffff 100%);
  }
}

.form-section__text--checkbox:active:before,
.form-section__checkbox:checked + .form-section__text--checkbox:before {
  background: url("../../images/iconic/icon-tick.svg") no-repeat center;
  -webkit-background-size: 21px;
  background-size: 21px;
}

.form-section__checkbox {
  display: none;
}
