.hero{
  position: relative;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url(../../images/big_img/index-background-mobile.jpg) no-repeat;
}

.hero__img--cat-energy{
  position: absolute;
  background-image: url(../../images/big_img/index-can-mobile.png);
  width: 84%;
  height: 50%;
  content: "";
  background-repeat: no-repeat;
  transform: translateY(6%);
}

.hero__wrap{
  z-index: 1;
}

.hero__heading{
  width: 272px;
}

.hero__heading h1{
  font-size: 34px;
  font-weight: 400;
}


.hero__comment p{
  text-transform: uppercase;
  color: white;
}

@media  (min-width:$tablet-width) {
  .hero{
    width: 100%;
    background: none;


    &:before{
      display: none;
    }
  }

  .hero__img--cat-energy{
    position: absolute;
    background-image: url(../../images/big_img/index-can-tablet.png);
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    top: 60%;
    transform: translateX(-16%);

  }

  .hero__heading h1{
    color: black;
    font-size: 49px;
    width: 356px;
    line-height: 1;
    font-weight: 500;
  }

  .hero__comment p{
    color: black;
  }
}

@media (min-width: $desktop-width) {
  .hero{
    z-index: 1;
    justify-content: flex-start;
    padding-left: 80px;
  }

  .hero__img--cat-energy{
    display: none;
  }
}