.hero {
  position: relative;
  height: 524px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../../images/big_img/index-background-mobile.jpg) no-repeat;
  background-size: 100% 305px;
  background-position: center top;

  padding-bottom: 20px;


  &__picture {
    margin: 0 auto;
    @include png-sprite($icon-index-can-mobile);
    border: none;
    user-select: none;
    outline: none;
  }

  &__wrap {
    z-index: 1;
    text-align: center;
  }


  &__heading h1 {
    font-size: 34px;
    font-weight: 400;
  }


  &__comment p {
    text-transform: uppercase;
    color: white;
  }


  &__btn-wrap {
    display: flex;
    justify-content: center;

  }

  &__btn {
    position: relative;
    z-index: 1;
    height: 25px;

    display: block;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    width: 250px;


    background-color: #68b738;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;


    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }
}

@media (min-width: $tablet-width) {
  .hero {
    width: 100%;
    background: none;
    padding-left: 10%;


    &:before {
      display: none;
    }


    &__wrap {
      text-align: start;
      display: flex;
      flex-direction: column;
    }


    &__picture {
      margin: 0 auto;
      @include png-sprite($icon-index-can-tablet);
      user-select: none;
      outline: none;
      order: 2;
      z-index: -1;
      transform: translate(-30px, -74px);
    }

    &__btn-wrap{
      justify-content: start;
    }

    &__btn {
      order: 1;
    }

    &__heading h1 {
      color: black;
      font-size: 49px;
      width: 356px;
      line-height: 1;
      font-weight: 500;
    }

    &__comment p {
      color: black;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    z-index: 1;
    justify-content: flex-start;
    padding-left: 80px;


    &__img--cat-energy {
      display: none;
    }

    &__picture{
      display: none;
    }

  }
}