.main-nav {
  position: relative;
  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__toggle {
  width: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.toggle-on {
  width: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include png-sprite($icon-m-close);
}

.toggle-off {
  width: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include png-sprite($icon-mobile-menu);
}

@media (max-width: $mobile) {
  .main-nav {
    &--closed .site-list__item {
      display: none;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  &--nojs .site-list__item {
    display: block;
  }

  &--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }
}

@media (min-width: $mobile + 1) and (max-width: $tablet) {
  .main-nav {
    width: 100%;
    margin: 0;
    display: flex;
    padding-top: 10px;

    &__wrapper {
      display: flex;
      justify-content: flex-end;
      min-width: 550px;
      margin: 0 auto;
      margin-right: 20px;
    }

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $tablet + 1) {
  .main-nav {
    padding-top: 20px;


    &__wrapper {
      display: flex;
      justify-content: flex-end;
      min-width: 550px;
      margin: 0 auto;
      margin-right: 20px;
    }

    &__toggle {
      display: none;
    }
  }
}