.page-header {
  display: block;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}

.logo {
  display: block;
  @include png-sprite($icon-logo-mobile);
}

.name {
  display: block;
  position: relative;
  @include png-sprite($icon-logo-mobile-header);
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 900px;
    align-items: center;

    &--wrap {
      display: flex;
      justify-content: space-between;
    }

    &__logo--name {
      display: none;
    }

    .logo {
      display: block;
      @include png-sprite($icon-logo-tablet);
    }
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    height: 700px;
    margin-bottom: 40px;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0px;
      width: 50%;
      height: 697px;
      background-color: #65a93c;
      background-image: url(../../images/big_img/index-background-desktop.png);
      background-repeat: no-repeat;
      background-size: auto 697px;
      background-position: right;
    }
  }

  .logo {
    display: block;
    @include png-sprite($icon-logo-desktop);
  }
}




