//settings

$bg-white: #fff;


$tablet-width:  768px;
$desktop-width:  1440px;
$mobile-width-only: 767px;

body{
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: $bg-white;
}

a{
  text-decoration: none;
}

.page-header{
  display: flex;
  flex-direction: column;
}
.logo{
  position: relative;

  &:before{
    display: block;
    @include png-sprite($icon-logo-mobile);
    content: "";
    transform: translate(50%, 14%);
  }
}

.name{
  position: relative;

  &:before{
    display: block;
    @include png-sprite($icon-logo-mobile-header);
    content: "";
    transform: translate(130%, -117%);
  }
}


.visually-hidden:not(:focus):not(:active){
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav{
  position: relative;
  min-width: 320px;
  background-color: #fff;
}

.main-nav__toggle{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  outline: none;

  display: block;
  width: 70px;
  height: 50px;
  background-color: white;
  
  cursor: pointer;
  border: none;
  
  &:hover,
  &:active{
    background-color: white;
  }
}

.main-nav--closed .main-nav__toggle:before{
  content: "";

  position: absolute;
  top: 16px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: black;
  box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}

.main-nav--closed .main-nav__toggle:active:before{
  background-color: gray;
  box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
}

.main-nav--opened .main-nav__toggle{


  &:before,
  &:after{
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: black;
  }

  &:before{
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:after{
    transform: rotate(-45deg);
  }
}

.site-list{

  font-weight: bold;
  padding: 0;
  list-style-type: none;
}

.site-list a{
  display: block;
  padding: 12px 21px 13px;

  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #fff;
  border-top: 1px solid gray;

}

.site-list a[href]{

  &:active{
    color: gray;
  }
}

@media (max-width: $mobile-width-only){
  .main-nav--closed .site-list__item{
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle{
  display: none;
}

.main-nav--nojs .main-nav__wrapper{
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item{
  display: block;
}

.main-nav--nojs .site-list__item--active a{
  padding-right: 21px;
  padding-left: 21px;
  text-align: center;
}


.header-text{
  color: white;
}

.food{

  position: relative;
  height: 355px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url(../../images/big_img/index-background-mobile.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.food__img--cat-energy{
  position: absolute;
  background-image: url(../../images/big_img/index-can-mobile.png);
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
  top: 60%;
}

.food__wrap{
  z-index: 1;
}

.food__heading{
  width: 272px;
}

.food__heading h2{
  font-size: 34px;
  font-weight: 400;
}


.food__comment p{
  text-transform: uppercase;
  color: white;
}

.header__btn{
  position: relative;
  z-index: 1;
  height: 25px;

  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;


  background-color: #68b738;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;

  top: 240px;
}


@media  (min-width:$tablet-width) {

  .page-header{
    align-items: center;
  }

  .main-nav {
    width: 100%;
    margin: 0;
    display: flex;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: flex-end;
    min-width: 550px;
    margin: 0 auto;
    margin-right: 20px;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 540px;
    z-index: 5;
  }

  .site-list__item{
    margin-right: 32px;

    &:last-child{
      margin-right: 0;
    }
  }

  .site-list__item a{
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    background: none;
    border: none;
    font-weight: 500;
  }

  .site-list__item a[href]{

    &:hover{
      background-color: white;
    }

    &:active{
      background-color: white;
      opacity: 0.3;
    }
  }

  .page-header__logo--name{
    display: none;
  }

  .logo{
    position: relative;

    &:before{
      display: block;
      @include png-sprite($icon-logo-tablet);
      content: "";
      transform: translate(10%, 21%);
    }
  }

  .site-list__item--active a{
     border-bottom: 2px solid #68b738;
  }

  .food{
    width: 100%;
    background: none;


    &:before{
      display: none;
    }
  }

  .food__img--cat-energy{
    position: absolute;
    background-image: url(../../images/big_img/index-can-tablet.png);
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    top: 60%;
    transform: translateX(-16%);

  }

  .food__heading h2{
    color: black;
    font-size: 49px;
    width: 356px;
    line-height: 1;
    font-weight: 500;
  }

  .food__comment p{
    color: black;
  }

  .header__btn{
    top: 240px;
    right: 272px;
  }


}


@media (min-width: $desktop-width) {


  header{
    max-width: 2000px;
    margin: 0 auto;
  }

  .logo{
    position: relative;

    &:before{
      display: block;
      @include png-sprite($icon-logo-desktop);
      content: "";
      transform: translate(30%, 21%);
    }
  }


  .site-list{
    width: 780px;
  }

  .site-list__item{
    margin-right: 0;
  }

  .site-list__item a{
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-list__item a[href]{
    &:hover {
      color: greenyellow;
    }

    &:active{
      color: gray;
      background-color: #fff;
      opacity: 1;
    }

  }

  .main-nav__wrapper{
    margin-right: 60px;
  }

  .site-list{
    justify-content: space-around;
  }

}




