.page-header{
  display: flex;
  flex-direction: column;
}
.logo{
  display: block;
  @include png-sprite($icon-logo-mobile);
  }

.name{
  position: relative;

  &:before{
    display: block;
    @include png-sprite($icon-logo-mobile-header);
    content: "";
    transform: translate(107%, -117%);
  }
}


&__btn{
  position: relative;
  z-index: 1;
  height: 25px;

  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;


  background-color: #68b738;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;

  top: 240px;

  &:hover{
    opacity: 0.5;
    transition: 0.3s;
  }
}


@media  (min-width:$tablet-width) {

  .page-header{
    align-items: center;
  }


  &__logo--name{
    display: none;
  }

  .logo{
    display: block;
    @include png-sprite($icon-logo-tablet);
  }

  &__btn{
    top: 240px;
    right: 272px;
  }


}


@media (min-width: $desktop-width) {

  .page-header{

    &:after{
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 50px;
      width: 50%;
      height: 697px;
      background-color: #65a93c;
      background-image: url(../../images/big_img/index-background-desktop.png);
      background-repeat: no-repeat;
      background-size: auto 697px;
    }
    &:before{
      content: "";
      position: absolute;
      z-index: 2;
      top: 100px;
      width: 509px;
      height: 492px;
      background: url(../../images/big_img/index-can.png) no-repeat;
    }
  }

  .logo{
    display: block;
    @include png-sprite($icon-logo-desktop);
    transform: translateX(50px);

    &:before{
      display: none;
      /*@include png-sprite($icon-logo-desktop);
      content: "";
      transform: translate(60px, -5px);*/
    }
  }
}




