$icon-advantage-1: 989px 454px -989px -454px 26px 29px 1029px 915px 'sprite.png';
$icon-advantage-3: 989px 483px -989px -483px 23px 30px 1029px 915px 'sprite.png';
$icon-advantage-4: 989px 423px -989px -423px 26px 31px 1029px 915px 'sprite.png';
$icon-andvantage-2: 989px 392px -989px -392px 29px 31px 1029px 915px 'sprite.png';
$icon-arrow-mobile: 989px 549px -989px -549px 24px 11px 1029px 915px 'sprite.png';
$icon-cat-desktop: 140px 721px -140px -721px 70px 97px 1029px 915px 'sprite.png';
$icon-cat-mobile: 989px 305px -989px -305px 35px 49px 1029px 915px 'sprite.png';
$icon-cat-tablet: 0px 721px 0px -721px 140px 194px 1029px 915px 'sprite.png';
$icon-fb: 1018px 392px -1018px -392px 10px 19px 1029px 915px 'sprite.png';
$icon-index-background-mobile: 709px 0px -709px 0px 320px 305px 1029px 915px 'sprite.png';
$icon-index-can-mobile: 709px 305px -709px -305px 280px 270px 1029px 915px 'sprite.png';
$icon-index-can-tablet: 0px 0px 0px 0px 709px 609px 1029px 915px 'sprite.png';
$icon-insta: 1012px 483px -1012px -483px 16px 16px 1029px 915px 'sprite.png';
$icon-logo-desktop: 268px 609px -268px -609px 202px 59px 1029px 915px 'sprite.png';
$icon-logo-mobile-header: 776px 575px -776px -575px 101px 18px 1029px 915px 'sprite.png';
$icon-logo-mobile: 989px 354px -989px -354px 33px 38px 1029px 915px 'sprite.png';
$icon-logo-tablet: 470px 609px -470px -609px 173px 58px 1029px 915px 'sprite.png';
$icon-m-close: 989px 531px -989px -531px 18px 18px 1029px 915px 'sprite.png';
$icon-mobile-menu: 989px 513px -989px -513px 24px 18px 1029px 915px 'sprite.png';
$icon-tiger-desktop: 643px 609px -643px -609px 134px 56px 1029px 915px 'sprite.png';
$icon-tiger-mobile: 709px 575px -709px -575px 67px 28px 1029px 915px 'sprite.png';
$icon-tiger-tablet: 0px 609px 0px -609px 268px 112px 1029px 915px 'sprite.png';
$icon-vk: 1007px 531px -1007px -531px 22px 12px 1029px 915px 'sprite.png';
