$icon-cat-mobile: 320px 145px -320px -145px 35px 49px 522px 305px 'sprite.png';
$icon-index-background-mobile: 0px 0px 0px 0px 320px 305px 522px 305px 'sprite.png';
$icon-logo-desktop: 320px 0px -320px 0px 202px 59px 522px 305px 'sprite.png';
$icon-logo-mobile-header: 387px 117px -387px -117px 101px 18px 522px 305px 'sprite.png';
$icon-logo-mobile: 355px 145px -355px -145px 33px 38px 522px 305px 'sprite.png';
$icon-logo-tablet: 320px 59px -320px -59px 173px 58px 522px 305px 'sprite.png';
$icon-tiger-mobile: 320px 117px -320px -117px 67px 28px 522px 305px 'sprite.png';
