$icon-arrow-mobile: 705px 316px -705px -316px 24px 11px 740px 475px 'sprite.png';
$icon-cat-desktop: 600px 250px -600px -250px 70px 97px 740px 475px 'sprite.png';
$icon-cat-mobile: 670px 278px -670px -278px 35px 49px 740px 475px 'sprite.png';
$icon-cat-tablet: 600px 0px -600px 0px 140px 194px 740px 475px 'sprite.png';
$icon-index-background-mobile: 0px 0px 0px 0px 320px 305px 740px 475px 'sprite.png';
$icon-index-can-mobile: 320px 0px -320px 0px 280px 270px 740px 475px 'sprite.png';
$icon-logo-desktop: 268px 305px -268px -305px 202px 59px 740px 475px 'sprite.png';
$icon-logo-mobile-header: 600px 347px -600px -347px 101px 18px 740px 475px 'sprite.png';
$icon-logo-mobile: 705px 278px -705px -278px 33px 38px 740px 475px 'sprite.png';
$icon-logo-tablet: 0px 417px 0px -417px 173px 58px 740px 475px 'sprite.png';
$icon-m-close: 694px 327px -694px -327px 18px 18px 740px 475px 'sprite.png';
$icon-mobile-menu: 670px 327px -670px -327px 24px 18px 740px 475px 'sprite.png';
$icon-tiger-desktop: 600px 194px -600px -194px 134px 56px 740px 475px 'sprite.png';
$icon-tiger-mobile: 670px 250px -670px -250px 67px 28px 740px 475px 'sprite.png';
$icon-tiger-tablet: 0px 305px 0px -305px 268px 112px 740px 475px 'sprite.png';
