$icons: (
    sprite: (width: 202px, height: 59px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    logo-desktop: (width: 202px, height: 59px, backgroundX: 0px, backgroundY: 0px),
);