$icons: (
    sprite: (width: 32px, height: 32px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    appows: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px),
);