$icons: (
    sprite: (width: 235px, height: 97px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    logo-desktop: (width: 202px, height: 59px, backgroundX: 0px, backgroundY: 0px),
    logo-mobile: (width: 33px, height: 38px, backgroundX: -202px, backgroundY: -59px),
);