<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <header class="page-header">
        <div class="container">
            <div class="page-header--wrap">
                <div class="page-header__top">
                    <div class="page-header__logo">
                        <a href="index.html" class="logo"></a>
                    </div>
                    <div class="page-header__logo--name">
                        <a href="index.html" class="name"></a>
                    </div>
                    <button class="main-nav__toggle toggle-off" type="button">
                        <span class="visually-hidden">Открыть меню</span>
                    </button>
                </div>
                <nav class="main-nav main-nav--closed main-nav--nojs">
                    <div class="main-nav__wrapper">
                        <ul class="main-nav__list site-list">
                            <li class="site-list__item site-list__item--active">
                                <a href="index.html">Главная</a>
                            </li>
                            <li class="site-list__item">
                                <a href="#">Каталог продукции</a>
                            </li>
                            <li class="site-list__item">
                                <a href="#">Подбор программы</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="hero">
                <div class="hero__wrap">
                    <div class="hero__heading">
                        <h1>Функциональное питание для котов</h1>
                    </div>
                    <div class="hero__comment">
                        <p>Занялся собой? Займись котом!</p>
                    </div>
                    <div class="hero__picture"></div>
                    <div class="hero__btn-wrap">
                        <a class="hero__btn" href="#">Подобрать программу</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">

        <section class="fitness-program-list">
            <div class="container">
                <div class="fitness-program__item">
                    <div class="fitness-program__content fitness-program__content--losing">
                        <div class="fitness-program__content-wrap">
                            <div class="fitness-program__illustration">
                                <div class="fitness-program__illustration-cat"></div>
                            </div>
                            <h2>Похудение</h2>
                            <div class="fitness-program__content-text">
                                <p>Ваш кот весит больше собаки и почти утратил способность лазить по деревьям?
                                    Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес</p>
                            </div>
                            <a href="#">Каталог Slim</a>
                        </div>
                    </div>

                    <div class="fitness-program__content fitness-program__content--accumulation">
                        <div class="fitness-program__content-wrap">
                            <div class="fitness-program__illustration">
                                <div class="fitness-program__illustration-tiger"></div>
                            </div>
                            <h2>Набор массы</h2>
                            <div class="fitness-program__content-text">
                                <p>Заработать авторитет среди дворовых котов и даже собак?
                                    Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
                            </div>
                            <a href="#">Каталог Pro</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="instruction">
            <div class="container">
                <h2 class="instruction__title">Как это работает</h2>
                <ul class="instruction__list">
                    <li class="instruction__item instruction__item--1">
                        <div class="instruction__icon">
                            <div class="instruction__icon-img--1"></div>
                        </div>
                        <p class="instruction__text">Функциональное питание содержит только
                            полезные питательные вещества.</p>
                    </li>
                    <li class="instruction__item instruction__item--2">
                        <div class="instruction__icon">
                            <div class="instruction__icon-img--2"></div>
                        </div>
                        <p class="instruction__text">Функциональное питание содержит только
                            полезные питательные вещества.</p>
                    </li>
                    <li class="instruction__item instruction__item--3">
                        <div class="instruction__icon">
                            <div class="instruction__icon-img--3"></div>
                        </div>
                        <p class="instruction__text">Функциональное питание содержит только
                            полезные питательные вещества.</p>
                    </li>
                    <li class="instruction__item instruction__item--4"><div class="instruction__icon">
                        <div class="instruction__icon-img--4"></div>
                    </div>
                        <p class="instruction__text">Функциональное питание содержит только
                            полезные питательные вещества.</p>
                    </li>

                </ul>
            </div>

        </section>
    </main>

</div>

<script>
    var navMain = document.querySelector('.main-nav');
    var navToggle = document.querySelector('.main-nav__toggle');
    var navTogglebtn = document.querySelector('.toggle-off');

    navMain.classList.remove('main-nav--nojs');
    navTogglebtn.classList.remove('.toggle-off');


    navToggle.addEventListener('click', function () {
        if (navMain.classList.contains('main-nav--closed')) {
            navMain.classList.remove('main-nav--closed');
            navTogglebtn.classList.remove('toggle-off');
            navMain.classList.add('main-nav--opened');
            navTogglebtn.classList.add('toggle-on');
        } else {
            navMain.classList.add('main-nav--closed');
            navMain.classList.remove('main-nav--opened');
            navTogglebtn.classList.add('toggle-off');
            navTogglebtn.classList.remove('toggle-on');
        }
    });
</script>
</body>
</html>