<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <header class="page-header">
        <div class="container">
            <nav class="main-nav main-nav--closed main-nav--nojs">
                <div class="page-header__logo">
                    <a href="index.html" class="logo"></a>
                </div>
                <div class="page-header__logo--name">
                    <a href="index.html" class="name"></a>
                </div>
                <button class="main-nav__toggle" type="button">
                    <span class="visually-hidden">Открыть меню</span>
                </button>
                <div class="main-nav__wrapper">
                    <ul class="main-nav__list site-list">
                        <li class="site-list__item site-list__item--active">
                            <a href="index.html">Главная</a>
                        </li>
                        <li class="site-list__item">
                            <a href="#">Каталог продукции</a>
                        </li>
                        <li class="site-list__item">
                            <a href="#">Подбор программы</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hero">
                <div class="hero__wrap">
                    <div class="hero__heading">
                        <h1>Функциональное питание для котов</h1>
                    </div>
                    <div class="hero__comment">
                        <p>Занялся собой? Займись котом!</p>
                    </div>
                    <div class="hero__img--cat-energy"></div>
                </div>
                <a class="header__btn" href="#">Подобрать программу</a>
            </div>
        </div>
    </header>

    <section class="fitness-program">
        <div class="container">
            <div class="fitness-program__content fitness-program__content--losing">
                <div class="fitness-program__content-wrap">
                    <h2>Похудение</h2>
                    <div class="fitness-program__content-text">
                        <p>Ваш кот весит больше собаки и почти утратил способность лазить по деревьям?
                            Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес</p>
                    </div>
                    <a href="#">Каталог Slim</a>
                </div>
            </div>

            <div class="fitness-program__content fitness-program__content--accumulation">
                <div class="fitness-program__content-wrap">
                    <h2>Набор массы</h2>
                    <div class="fitness-program__content-text">
                        <p>Заработать авторитет среди дворовых котов и даже собак?
                            Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
                    </div>
                    <a href="#">Каталог Slim</a>
                </div>

            </div>

        </div>
    </section>

</div>

<script>
    var navMain = document.querySelector('.main-nav');
    var navToggle = document.querySelector('.main-nav__toggle');

    navMain.classList.remove('main-nav--nojs');

    navToggle.addEventListener('click', function () {
        if (navMain.classList.contains('main-nav--closed')) {
            navMain.classList.remove('main-nav--closed');
            navMain.classList.add('main-nav--opened');
        } else {
            navMain.classList.add('main-nav--closed');
            navMain.classList.remove('main-nav--opened')
        }
    });
</script>
</body>
</html>